.bgContainer {

  background-size: cover;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



  .copyContainer {
    h1 {
      font-family: Prometo;
      font-size: 40px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        font-size: 48px;
      }
    }

    h4 {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-size: 20px;
      margin-bottom: 60px;

      @media screen and (min-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .button {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    background-color: #2098D1;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: inline-block;

    &:hover {

    }
  }
}

.completed1 {
  background: url("../../../public/images/level1.jpg") top center no-repeat;
}

.completed2 {
  background: url("../../../public/images/level2.jpg") top center no-repeat;
}

.completed3 {
  background: url("../../../public/images/level3.jpg") top center no-repeat;
}
