@import '../../scss/variables';

.bgContainer {
  background: url('../../../public/images/img-failed.jpg') top center no-repeat;
  background-size: cover;
  margin: auto;
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .copyContainer {
    h1 {
      font-family: Prometo, sans-serif, Arial, Helvetica;
      font-size: 40px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        font-size: 48px;
      }
    }

    h4 {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-size: 20px;
      margin-bottom: 60px;

      @media screen and (min-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .button {
    font-family: Roboto, sans-serif, Arial, Helvetica;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    color: $color-white;
    display: inline-block;
    text-decoration: none;
    background-color: $brand-primary-color;
    transition: all .3s ease-in-out;

    &:hover {
      color: $brand-secondary-color;
      background-color: $brand-tertiary-color;
    }
  }
}

body.no-webp {
  .bgContainer {
    background-image: url('../../../public/images/img-failed.jpg');
  }
}
