.tiles-head {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 34px;

  @media (max-width: 600px) {
    justify-content: flex-end;
    padding: 0 20px;
  }

  & img {
    width: 45px;
    position: absolute;
    left: 20px;
    top: 16px;
  }

  .title {
    font-family: 'Prometo';
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #fff;
    margin-right: 20px;

    @media (max-width: 600px) {
      font-size: 24px;
      margin: 0;
      margin-right: 20px;
    }
  }

  .counter {
    display: flex;
    align-items: center;
    padding: 3px 15px;
    background-color: #db2885;

    &__label {
      font-family: 'proxima-nova';
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      color: #fff;
      text-transform: uppercase;
      margin-right: 10px;

      @media (max-width: 600px) {
        font-size: 12px;
      }
    }
    &__value {
      font-family: 'proxima-nova';
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      color: #fff;

      @media (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
}
