@import '../../scss/variables';

.staff {
  position: relative;
  display: flex;
  height: auto;
  width: 120px;

  @media screen and (min-width: 768px) {
    width: 211px;
  }

  @media screen and (min-width: 1000px) {
    max-height: 160px;
  }

  .staffImg {
    bottom: 0;
    width: 100%;
    height: auto;

    @media screen and (min-width: 1000px) {
      object-fit: cover;
    }
  }

  .staffDetails {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    background: $color-mid-gray;
    opacity: .78;
    width: 100%;

    h4 {
      font-family: Prometo;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }

    p {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 0;
      color: $color-white;
    }
  }
}
