.intro-page {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: linear-gradient(120deg,  rgba(48, 162, 197,1) 0%, rgba(39, 42, 73,1) 100%) no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1075px;
    width: 100%;
    padding: 40px;

    @media (max-width: 960px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .content {
    max-width: 452px;

    @media (max-width: 960px) {
      max-width: 700px;
      margin-bottom: 50px;
    }
  }

  h1 {
    font-family: 'Prometo';
    font-weight: bold;

    margin-bottom: 27px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
  p {
    font-family: 'proxima-nova';
    font-weight: 500;
    margin-bottom: 25px;

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
  h4 {
    font-family: 'proxima-nova';
    font-weight: 600;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    span {
      color: $blue;
    }
  }

  .content-imgs {
    min-width: 442px;
    max-width: 442px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;

    @media (max-width: 960px) {
      max-width: 700px;
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 730px) {
      min-width: initial;
      width: 100%;
      margin-left: 0;
      justify-content: center;
    }

    &__tile {
      max-width: 211px;
      max-height: 137px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;

      @media (max-width: 750px) {
        margin: 10px;
        width: calc(33% - 20px);
      }

      @media (max-width: 670px) {
        margin: 10px;
        width: calc(50% - 20px);
      }
    }

    & img {
      width: 100%;
      transform: translateY(-15%);

      @media (max-width: 426px) {
        transform: translateY(0%);
      }
    }
  }

  .content-imgs__text {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    background: #486681;
    opacity: .78;
    width: 100%;

    & h2 {
      font-family: 'Prometo';
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    & p {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 0;
    }
  }
}
