.result-page {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
  position: relative;

  .image-wrapper {
    height: 60vh;

    @media (max-width: 600px) {
      height: 52vh;
    }

    &.completed {
      background: url("assets/level1.jpg") center no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100vh;

      @media (max-width: 768px) {
        background-position: bottom;
      }

      @media (max-aspect-ratio: 3/5) {
        background-size: 150% auto;
      }
    }

    &.completed1 {
      background: url("assets/level1.jpg") top center no-repeat;
      background-size: cover;
      width: 100vw;
      height: calc(100vh - 60px);
    }
    &.completed2 {
      background: url("assets/level2.jpg") top center no-repeat;
      background-size: cover;
      width: 100vw;
      height: calc(100vh - 60px);
    }
    &.completed3 {
      background: url("assets/level3.jpg") top center no-repeat;
      background-size: cover;
      width: 100vw;
      height: calc(100vh - 60px);
    }

    &.fail {
      background: url("assets/failed.jpg") top center no-repeat;
      background-size: cover;
      width: 100vw;
      height: calc(100vh - 60px);

      @media (max-width: 768px) {
        background-position: bottom;
      }
    }
  }
  .content-wrapper {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // background: url("assets/bg-hexagons_desk.png") no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      // background: url("assets/bg-hexagons_tablet.png") no-repeat;
      background-size: cover;
    }
    @media (max-width: 600px) {
      // background: url("assets/bg-hexagons_mob.png") no-repeat;
      background-size: cover;
    }
  }

  h1 {
    font-family: 'Prometo';
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 40px;
    }
  }
  h4 {
    font-family: 'proxima-nova';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
    }

    span {
      color: $blue;
    }
    br {
      display: none;

      @media (max-width: 600px) {
        display: block;
      }
    }
  }
  &__gamehub-cta {
    // margin-top: 3vh;

    a {
      background: linear-gradient(to right, $blue, $blue 50%, white 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      color: white;
      font-size: 26px;
      font-weight: bold;
      overflow: hidden;
      padding: 0.3em;
      transition: background-position .3s ease;

      &:hover {
        background-position: 0 100%;
      }
    }
  }
}
