.cardGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;

  @media screen and (min-width: 1000px) {
    margin-top: 40px;
  }
}
