.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.introTitle {
  color: #202349;
  font-family: Prometo;
}

.cardListTitle {
  color: #ffffff!important;
  font-family: Prometo;
}
