@import '../../scss/variables';

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.introTitle {
  color: $brand-secondary-color;
  font-family: Prometo,sans-serif, Arial, Helvetica;
  font-size: 18px;
}

.cardListTitle {
  color: $color-white !important;
  font-family: Prometo, sans-serif, Arial, Helvetica;
  font-size: 24px;
}

p {
  font-family: Prometo,sans-serif, Arial, Helvetica;
  color: $brand-secondary-color;

  line-height: 23px;
  font-weight: 700;
  margin: 0;
}
