.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.introTitle {
  color: #202349;
  font-family: Prometo;
  font-size: 18px;
}

.cardListTitle {
  color: #ffffff!important;
  font-family: Prometo;
  font-size: 24px;
}

p {
  font-family: Prometo;
  color: #202349;

  line-height: 23px;
  font-weight: 700;
  margin: 0;
}
