@import '../../scss/variables';

.card {
  position: relative;
  cursor: pointer;

  img {
    display: block;
  }
}

.cardLevel1 {
  height: 196px;
  width: calc((100% - 10px) / 2);

  @media screen and (min-width: 768px) {
    height: 281.59px;
  }

  @media screen and (min-width: 1000px) {
    height: 340px;
    width: calc((80% - 20px) / 3);
  }
}

.cardLevel2 {
  height: 148px;
  width: calc((100% - 20px) / 3);

  @media screen and (min-width: 768px) {
    height: 204.79px;
  }

  @media screen and (min-width: 1000px) {
    height: 235px;
    width: calc((90% - 30px) / 4);
  }
}

.cardLevel3 {
  height: 96.2px;
  width: calc((100% - 30px) / 4);

  @media screen and (min-width: 768px) {
    height: 138.24px;
  }

  @media screen and (min-width: 1000px) {
    height: 170px;
    width: calc((90% - 50px) / 6);
  }
}

.cardFront {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;

  .cardFrontImg {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .staffDetails {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    background: $color-mid-gray;
    opacity: .78;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 10px;
    }

    h4 {
      font-family: Prometo, sans-serif, Arial, Helvetica;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
        padding-bottom: 3px;
      }

      @media screen and (min-width: 1000px) {
        font-size: 18px;
        padding-bottom: 5px;
      }
    }

    p {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-size: 10px;
      font-weight: 100;
      line-height: 12px;
      margin-bottom: 0;
      color: $color-white;

      @media screen and (min-width: 768px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1000px) {
        font-size: 14px;
      }
    }
  }
}

.cardBack {
  height: 100%;
  width: 100%;
  background-color: $brand-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;

  .cardBackImg {
    width: 36%;
  }
}
