.card {
  position: relative;

  img {
    display: block;
  }
}

.cardLevel1 {
  height: 365px;
  width: 450px;
}

.cardLevel2 {
  height: 237px;
  width: 335px;
}

.cardLevel3 {
  height: 182px;
  width: 218px;
}

.cardFront {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;

  .cardFrontImg {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .staffDetails {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    background: #486681;
    opacity: .78;
    width: 100%;

    h4 {
      font-family: Prometo;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }

    p {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 0;
    }
  }
}

.cardBack {
  height: 100%;
  width: 100%;
  background-color: #27A2C7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;

  .cardBackImg {
    height: 100px;
  }
}

.flipped .cardFront {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .cardBack {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
