.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #fff;
  padding: 0 20px;

  img {
    height: 30px;
  }
}

.placeholder {
  width: 45px;
}

.gameHeader {
  background: #00223e;
}

@media screen and (max-width: 767px) {
  .noPlaceholder {
    display: none;
  }
}
