@import '../../scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: $color-white;
  padding: 0 20px;

  .logo {
    height: 30px;
  }
}

.placeholder {
  width: 45px;
}

.gameHeader {
  background: $color-dark-blue;
}

@media screen and (max-width: 767px) {
  .noPlaceholder {
    display: none;
  }
}
