@import '../../scss/variables';

.cardBack {
  height: 100%;
  width: 100%;
  background-color: $brand-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  margin: auto;

  picture {
    display: flex;
    justify-content: center;
  }

  .cardBackImg {
    width: 36%;
    justify-self: center;
  }

  &.flipped {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}
