@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1366px) {
}


.background {
  //justify-content: space-around;
  //width: fit-content;
  //background-color: #2F97BA;
  padding: 40px;
  background: linear-gradient(120deg,#30a2c5,#272a49) no-repeat;
  background-size: cover;
  height: 100%;

  @media screen and (min-width: 768px) {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    height: 100vh;
  }

  @media screen and (min-width: 1000px) {
    display: flex;
    //justify-content: space-between;
    align-items: center;

  }

  .copyContainer {
    margin-bottom: 40px;

    @media screen and (min-width: 1000px) {
      width: 50%;
      margin: auto;
      padding-left: 60px;

    }


    h1 {
      font-family: Prometo;
      font-size: 40px;
      margin-bottom: 30px;

      @media screen and (min-width: 768px) {
        font-size: 56px;
        margin-bottom: 20px;
      }
    }

    p {
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      margin-bottom: 30px;
      line-height: 1.5;

      @media screen and (min-width: 768px) {
        font-size: 18px;
        margin-bottom: 25px;
      }
    }

    h4 {
      margin-bottom: 40px;
      font-family: proxima-nova, sans-serif, Arial, Helvetica;
      font-weight: 600;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }

    .button {
      font-family: Prometo;
      background: #202349;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: white;
      padding: 13px 20px 10px;
      border-style: none;
      display: inline-block;
      text-decoration: none;
    }
  }
}

.imgContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  //display: grid;
  //grid-template-rows: 1fr 1fr 1fr;
  //grid-template-columns: 1fr 1fr;
  gap: 20px;
  //border: 1px solid blue;
  width: fit-content;
  height: fit-content;
  //grid-auto-flow: column;

  //.staff:nth-child(1) {
  //  grid-area: 1/1/2/2;
  //}

  @media screen and (min-width: 768px) {

    //grid-template-rows: 1fr 1fr;
    //grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1000px) {
    max-width: 600px;
    padding-right: 60px;
  }


}




